.profile {
  margin-top: 20px;
}
.profile .title {
  font-size: 42px;
  font-weight: bold;
  color: var(--color-dark-blue);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
}
.form-item {
  margin-bottom: 15px;
}
.form-item label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: var(--color-dark-blue);
}
.form-item select,
.form-item input {
  width: 80%;
  padding: 10px 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  &::placeholder {
    color: #ced4da;
  }
}
.form-item select {
  background: url("../../assets/images/doctor/arrowDown.svg") no-repeat right 15px center;
  -webkit-appearance: none;
  appearance: none;
}
.form-item select:focus {
  outline: none;
  border-color: #80bdff;
  background-color: var(--color-white);
}

.ant-table-content {
  user-select: none;
  text-align: center;
}
.ant-table-content tr th {
  font-weight: bold;
  text-align: center;
}
.ant-table-content::-webkit-scrollbar {
  display: block;
  height: 10px;
  cursor: pointer;
  border-radius: 20px;
}
