.banner {
  width: 100%;
  height: 462px;
  background: url("../../assets/images/order/book-appointment-bg.png") no-repeat center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.title {
  font-size: 42px;
  font-weight: bold;
  color: var(--color-white);
}
.doctor-list {
  background-color: #f5f8fc;
  position: relative;
  padding-top: 100px;
}
.content {
  position: relative;
  max-width: 1000px;
  background: var(--color-white);
  border-radius: 30px 30px 0 0;
  padding: 30px 50px 40px;
  z-index: 1;
  margin: -250px auto 0;
}
.doctor-title {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  &-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
  }
  p {
    font-size: 30px;
    font-weight: bold;
    color: var(--color-dark-blue);
  }
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
  padding: 0 30px;
}
.card {
  position: relative;
  width: calc(100% / 3 - 15px);
  min-height: 250px;
  padding: 30px 0;
  display: -webkit-box;
  box-shadow: 10px 25px 60px #ccd6ef;
  overflow: hidden;
  border-radius: 20px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  text-align: center;
  cursor: pointer;
}
.inner {
  width: 100%;
}
.doctor-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.doctor-name {
  font-size: 16px;
  color: var(--color-dark-blue);
  font-weight: bold;
  margin-bottom: 4px;
}
.doctor-specialty {
  font-style: italic;
  color: var(--color-dark-blue);
}
.cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background: linear-gradient(194.54deg, rgba(130, 41, 222, 0.67) -9.38%, #2303aa 91.11%);
  border-radius: 20px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  &-btn {
    width: 100%;
  }
}
.card:hover .cover {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 991px) {
  .banner {
    height: 350px;
  }
  .content {
    margin-top: -200px;
  }
  .doctor-title p {
    font-size: 28px;
  }
  .card {
    width: calc(50% - 10px);
  }
}
@media (max-width: 767px) {
  .banner {
    height: 300px;
  }
  .content {
    padding: 20px 20px 30px;
  }
  .doctor-title-icon {
    width: 40px;
    height: 40px;
  }
  .doctor-title p {
    font-size: 22px;
  }
  .cards {
    padding: 0;
  }
}

@media (max-width: 475px) {
  .banner {
    height: 250px;
  }
  .title {
    font-size: 32px;
  }
  .content {
    margin-top: -170px;
  }
  .cards {
    row-gap: 15px;
  }
  .card {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
  }
  .inner {
    display: flex;
    align-items: center;
  }
  .doctor-image {
    margin-bottom: 0;
    margin-right: 20px;
    width: 60px;
    height: 60px;
  }
  .doctor-info {
    text-align: left;
  }
  .cover {
    border-radius: inherit;
  }
}
