.banner {
  position: relative;
  height: 600px;
  margin-top: -70px;
}
.banner-image {
  position: relative;
  width: 100%;
}
.banner-image-mb {
  display: none;
}
.banner-image-1,
.banner-image-2,
.banner-image-3 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.banner-image-1 {
  bottom: 0;
  right: 0;
  left: 0;
  max-height: none;
}
.banner-image-2 {
  right: 0;
  top: 0;
  z-index: 9;
  object-fit: contain;
}
.banner-image-3 {
  bottom: 0;
  right: 0;
  left: 0;
  max-height: none;
  z-index: 10;
}
.content {
  width: 550px;
  position: absolute;
  top: 15%;
  padding-left: 120px;
  z-index: 99;
}
.heading {
  font-size: 42px;
  color: var(--color-dark-blue);
  font-weight: bold;
}
.description {
  font-size: 16px;
  margin-top: 20px;
  font-weight: 500;
}

//find doctor

.find-doctor {
  position: relative;
  z-index: 1;
}
.title {
  position: relative;
  font-size: 42px;
  line-height: 1.1;
  font-weight: bold;
  color: var(--color-dark-blue);
  padding-bottom: 26px;
  margin-bottom: 30px;
  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: #3430d4;
    left: 0;
    bottom: 0;
    border-radius: 10px;
  }
}
.search-form {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
.form-group {
  position: relative;
  margin: 0 10px 16px 10px;

  border: 1px solid #ced4da;
  border-radius: 5px;
  input {
    padding: 5px 20px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    color: var(--text-color);
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
  }
  input::placeholder {
    color: #ced4da;
  }
}

.form-group-name {
  max-width: calc(36% - 20px);
  flex: 0 0 36%;
}
.form-group-select {
  max-width: calc(32% - 20px);
  flex: 0 0 32%;
}
.form-group button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0;
  background-color: transparent;
  color: var(--color-green);
  font-size: 17px;
  height: 50px;
}
.jio-select {
  border: none;
  color: #c4c4c4;
  height: 50px;
  width: 100%;
  padding: 0 35px 0 20px;
  background: url("../../assets/images/doctor/arrowDown.svg") no-repeat right 15px center;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
}
.jio-select.active {
  color: #202020;
}
.jio-select:focus {
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.doctor-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 20px;
}
.doctor-item {
  position: relative;
  width: calc(25% - 20px);
  background-color: var(--color-white);
  border-radius: 20px;
  box-shadow: 10px 25px 60px #ccd6ef;
  padding: 20px 20px 30px;
  text-align: center;
}
.doctor-info {
  margin-bottom: 0;
  &-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: 16px;
  }
  &-name {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-dark-blue);
  }
  &-specialty {
    margin-bottom: 6px;
    color: var(--color-dark-blue);
    font-style: italic;
  }
}
.doctor-more-info {
  padding: 15px 20px 0 20px;
  margin: 0 -20px;
  border-top: 1px solid #d7dbe5;
}
.doctor-more-introduction {
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 500;
  line-height: 1.25;
  //text clamp

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.doctor-more-btn {
  background-color: var(--color-white);
  min-width: 180px;
  padding: 15px 16px;
  color: #2320d4;
  box-shadow: 10px 10px 30px #ccd6ef;
}
.doctor-info-inner {
  position: absolute;
  inset: 0 0 0 0;
  height: 100%;
  background: linear-gradient(194.54deg, rgba(130, 41, 222, 0.67) -9.38%, #2303aa 91.11%);
  transition: all 0.25s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  padding: 28px;
  opacity: 0;
  visibility: hidden;
}
.doctor-info-inner.active {
  opacity: 1;
  visibility: visible;
}
.doctor-info-inner button,
.doctor-info-inner a {
  display: inline-block;
  background-color: var(--color-white);
  color: var(--color-dark-blue);
}
.doctor-view-more {
  text-align: center;
  margin-top: 30px;
  button {
    background-color: var(--color-white);
    color: #2320d4;
    font-size: 16px;
    padding: 17px 30px;
    box-shadow: 10px 10px 20px #ccd6ef;
  }
}

// section care

.care {
  padding-bottom: 100px;
}
.care-bg {
  width: 100%;
  img {
    width: 100%;
  }
}
.care-content {
  margin-top: -110px !important;
}
.care-info {
  background: #fff;
  box-shadow: 10px 25px 60px #ccd6ef;
  border-radius: 20px;
  padding: 40px 40px 0;
  margin-top: 30px;
}
.care-info-item {
  display: flex;
  margin-bottom: 50px;
  padding: 0 15px;
  &-media {
    width: 100px;
    height: 100px;
    margin-right: 25px;
    margin-left: 25px;
    img {
      width: 100%;
      box-shadow: 5px 10px 30px #ccd6ef;
      border-radius: 100%;
    }
  }
  &-body {
    width: 380px;
  }
  &-title {
    font-size: 22px;
    color: var(--color-dark-blue);
    margin-bottom: 8px;
    font-weight: bold;
  }
  &-desc {
    font-size: 16px;
    font-weight: 500;
  }
}

// section block list
.block-list {
  padding-bottom: 70px;
  overflow: hidden;
  &-item {
    width: 380px !important;
    height: 550px;
    background: #fff;
    border: none;
    box-shadow: 10px 25px 60px #ccd6ef;
    border-radius: 10px;
    margin-right: 30px;

    img {
      width: 100%;
      height: 350px;
      border-radius: 10px 10px 0 0;
      object-fit: cover;
    }
    &-content {
      padding: 25px 30px 30px;
    }

    &-time {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      margin-bottom: 20px;
      a {
        color: var(--color-green);
        font-weight: bold;
        margin-right: 20px;
      }
      span {
        font-weight: 500;
      }
    }
    &-title {
      font-size: 20px;
      color: var(--color-dark-blue);
      font-weight: bold;
      line-height: 1.25;
      margin-top: 15px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .banner {
    height: 500px;
  }
  .content {
    width: 460px;
    padding-left: 60px;
  }
  .heading {
    font-size: 38px;
  }

  .title {
    font-size: 30px;
  }
  .doctor-item {
    width: calc(33.33% - 20px);
  }
  .care {
    padding-bottom: 70px;
  }
  .care-content {
    margin-top: -80px !important;
  }
  .care-iten-info {
    padding: 0;
  }
  .care-info {
    padding: 30px 30px 0;
  }
  .care-info-item {
    margin-bottom: 30px;
  }
  .care-info-item-media {
    margin: 0 20px 0 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner {
    height: 350px;
    margin-top: -50px;
  }
  .content {
    width: 350px;
    padding-left: 10px;
  }
  .heading {
    font-size: 24px;
  }
  .description {
    font-size: 16px;
  }
  .title {
    font-size: 22px;
    padding-bottom: 15px;
  }
  .form-group-name,
  .form-group-select {
    max-width: calc(45% - 20px);
    flex: 0 0 45%;
  }
  .form-group-name {
    height: 100%;
    input,
    button {
      height: 40px;
    }
  }
  .form-group-select,
  .jio-select {
    height: 40px;
  }
  .doctor-item {
    width: calc(50% - 20px);
  }
  .care {
    padding-bottom: 30px;
  }
  .care-content {
    margin-top: -60px !important;
  }
  .care-info {
    padding: 20px 20px 0;
  }
  .care-info-item {
    padding: 0;
    margin-bottom: 30px;
  }
  .care-info-item-media {
    width: 85px;
    height: 85px;
    margin-right: 15px;
    margin-left: 0;
  }
  .care-info-item-title {
    font-size: 18px;
  }
  .care-info-item-desc {
    font-size: 14px;
  }
  .block-list {
    padding-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .banner {
    height: 100%;
    padding-bottom: 20px;
  }
  .banner-images {
    display: none;
  }
  .banner-image-mb {
    display: block;
    width: 100%;
  }
  .content {
    position: unset;
    margin-top: 70px;
    padding-left: 0;

    width: 100%;
  }
  .heading {
    font-size: 24px;
  }
  .description {
    margin-top: 10px;
    font-size: 14px;
  }
  .title {
    font-size: 18px;
    margin-bottom: 20px;
    padding-bottom: 15px;
  }
  .search-form {
    flex-direction: column;
  }
  .form-group {
    margin: 10px 0;
  }
  .form-group-name,
  .form-group-select {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    background-color: #e8f1ff;
    border-radius: 5px;
    color: var(--color-dark-blue);
    border-color: #e8f1ff;
  }
  .form-group-name {
    height: 40px;

    button,
    input {
      height: 40px;
      background-color: #e8f1ff;
      padding: 5px 10px;
    }
  }
  .form-group-name input::placeholder {
    color: var(--color-dark-blue);
  }
  .jio-select {
    height: 40px;
    color: var(--color-dark-blue);
  }

  .doctor-list {
    gap: 15px;
  }
  .doctor-item {
    width: 100%;
    display: flex;
    padding: 10px;
  }
  .doctor-info-avatar {
    width: 60px;
    height: 60px;
  }
  .doctor-more-info {
    border: none;
    text-align: start;
    padding: 10px 10px 0 10px;
    margin-left: 0;
    margin-right: 5px;
  }
  .doctor-info-name {
    font-size: 14px;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .doctor-info-specialty {
    margin-bottom: 3px;
  }
  .doctor-more-introduction {
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .doctor-more-btn {
    font-size: 14px;
    padding: 9px 20px;
  }
  .doctor-view-more {
    margin-top: 20px;
    button {
      padding: 9px 25px;
    }
  }
  .care {
    padding-bottom: 30px;
  }
  .care-bg img {
    height: 100px;
  }
  .care-content {
    margin-top: -30px !important;
  }
  .care-info {
    box-shadow: none;
    padding: 0;
    border-radius: 0;
  }
  .care-info-item {
    background: #f5f8fc;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px 15px 24px 15px;
    &-body {
      width: 100%;
    }
    &-title {
      font-size: 14px;
      margin-bottom: 3px;
    }
    &-desc {
      font-size: 14px;
    }
  }
  .care-info-item-media {
    width: 40px;
    height: 40px;
    margin-left: 0;
    margin-right: 15px;
  }
  .block-list {
    padding-bottom: 30px;
  }
}
@media (max-width: 450px) {
  .block-list-item {
    width: 100% !important;
    height: 530px;
  }
}
