.form-group {
  display: flex;
  flex-wrap: wrap;
}
.form-item {
  margin-bottom: 15px;
}
.form-item label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: var(--color-dark-blue);
}
.form-item select,
.form-item input {
  width: 80%;
  padding: 10px 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  &::placeholder {
    color: #ced4da;
  }
}
.form-item select {
  background: url("../../../assets/images/doctor/arrowDown.svg") no-repeat right 15px center;
  -webkit-appearance: none;
  appearance: none;
}
.form-item select:focus {
  outline: none;
  border-color: #80bdff;
  background-color: var(--color-white);
}
.form-photo-upload {
  display: flex;

  align-items: center;
  font-size: 14px;
}
.form-user-photo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-right: 20px;
}
.form-upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form--upload:focus + label {
  outline: 3px solid var(--color-dark-blue);
  outline-offset: 3px;
}

.form-upload + label {
  color: var(--color-dark-blue);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid var(--color-dark-blue);
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  font-weight: 600;
}
